.conteneur-connexion {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #dbeafe, #eff6ff);
  padding: 20px;
}

.formulaire-connexion {
  background-color: var(--couleur-blanche);
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.formulaire-connexion h2 {
  margin-bottom: 20px;
  text-align: center;
  color: var(--couleur-principale-foncee);
}

.formulaire-connexion label {
  margin-top: 10px;
  font-weight: bold;
}

.formulaire-connexion input {
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.message-erreur {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.lien-retour {
  margin-top: 15px;
  text-align: center;
}

.lien-retour a {
  text-decoration: none;
  color: var(--couleur-principale);
}

.lien-retour a:hover {
  text-decoration: underline;
}
